@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Flow+Circular&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

/* BASE style */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

button {
  border: none;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  border: 1px solid #000;
  font-weight: 500;
  transition: all 0.2 ease;
  cursor: pointer;
}

.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dedede;
  padding: 8px 8px 8px 15px;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

textarea {
  overflow: auto;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #808080;
}

.img-fluid {
  width: 100%;
}

/*BASE style end*/
